<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Artist Details</title>
</head>

<header>
    <!-- Add a logout button -->
    <div class="row">
        <div class="col-sm-11">
            <div sec:authorize="hasRole('ARTIST')">
                <h3>WELCOME <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h3>
            </div>
        </div>

        <div class="col-sm-1">
            <form th:action="@{/logout}"
                  method="POST">

                <input type="submit" value="Logout" />

            </form>
        </div>
    </div>
    <hr>
</header>

<body>

<div class="container">

    <h3>Artist Details</h3>
    <hr>

    <form action="#" th:action="@{/artists/save}"
          th:object="${artist}" method="POST">

        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <label>First Name</label>
        <input type="text" th:field="*{firstName}" readonly="readonly"
               class="form-control mb-4 col-4" placeholder="First name">

        <label>Last Name</label>
        <input type="text" th:field="*{lastName}" readonly="readonly"
               class="form-control mb-4 col-4" placeholder="Last name">

        <label>Email</label>
        <input type="text" th:field="*{email}" readonly="readonly"
               class="form-control mb-4 col-4" placeholder="Email">

        <label>Age</label>
        <input type="text" th:field="*{age}" readonly="readonly"
               class="form-control mb-4 col-4" placeholder="Age">

        <label>Birth Place</label>
        <input type="text" th:field="*{birthPlace}" readonly="readonly"
               class="form-control mb-4 col-4" placeholder="Birth Place">

        <label>Art Style</label>
        <input type="text" th:field="*{artStyle}" readonly="readonly"
               class="form-control mb-4 col-4" placeholder="Art Style">

    </form>

    <hr>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/artists/list}">Back to Artists List</a>
    </div>

    <div sec:authorize="hasRole('ARTIST')">
        <!-- Add "art work" button/link -->
        <a th:href="@{/artworks/list(artistId=${param.artistId})}"
           class="btn btn-primary btn-sm">
            View Artworks
        </a>
    </div>

    <!--Displays logged in Username
    <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
    -->

</div>
</body>

</html>